@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800|Yeseva+One&display=swap');

// fonts
$font1:  'Yeseva One', cursive;
$font2:  'Open Sans', sans-serif;
// fonts-size
 




$heading-color:#FAFAFA;
$gray-color: #FAFAFA;
$gray-color-2: #FAFAFA;

$theme-color: #F1BF00;
$theme-color2: #AA151B;

$gray-color3:#FAFAFA;
$gray-color4:#1B365D;
$white_color:#FAFAFA;



$font_1: #FAFAFA;
$font_2: #FAFAFA;
$font_3: #FAFAFA;
$font_4: #FAFAFA;
$font_5: #FAFAFA;
$font_6: #FAFAFA;
$font_7: #FAFAFA;
$border_color: #1B365D;
$footer_bg: #2C2C2C;
$sidebar_bg: #1B365D;

$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab:'(max-width: 991px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';

// ,,,,,,,,,,,
$btn_bg: #F1BF00;
$btn_hover: #F1BF00;
$section_bg: #1B365D;
$section_bg_1: #2C2C2C;
$heading_color: #FAFAFA;
$heading_color2: #AA151B;
